.idea
*.pyc
__pycache__
*.sh
*.ckpt
*.pth
*.onnx
/data/*
!/data/.gitkeep
/experiments/*
!/experiments/.gitkeep
.venv
venv
/artifacts/
/python/
.vscode
.ipynb_checkpoints/
tempCodeRunnerFile.py
*.wav
*.textgrid
*.lab
tempCodeRunnerFile.py
inference/tempCodeRunnerFile.py
/inference/phonemeASR/database
/inference/phonemeASR/data
/inference/phonemeASR/日语音素ASR训练方案.md
/inference/phonemeASR/checkpoints
/inference/phonemeASR/logs